body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    border-top-color: black;
    font-family: monospace, Monaco;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Menu item hover */
.topnav a:hover, a:hover, .subnav:hover .subnavbtn {
    background-color: #ddd;
    color: black;
}

/* Active menu item */
.topnav a.active {
    background-color: #e98074;
    color: white;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a background color to navigation links on hover */
a:hover, .subnav:hover .subnavbtn {
    background-color: #ddd;
    color: black;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #ddd;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}

/* Add a background color on hover */
.subnav-content a:hover {
    background-color: #4CAF50;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}


div.aboutUsText {
    width: auto;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

#logoheader {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}