body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    border-top-color: black;
    font-family: monospace, Monaco;
    margin-bottom: 4%;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 24px 16px;
    font-size: 22px;
    text-decoration: none;
}

/* Menu item hover */
.topnav a:hover, a:hover {
    background-color: #ddd;
    color: black;
}

/* Active menu item */
.topnav a.active {
    background-color: #e98074;
    color: white;
}

.adjustableTextArea {
    white-space: pre-wrap;
    height: 150px;
    overflow:hidden;
    resize: none
}

/* Add a background color to navigation links on hover */
topnav a:hover {
    background-color: #ddd;
    color: black;
}

a.text-dark:hover a.text-dark:active {
    background-color: transparent;  !important;
}

.uploadBtn {

}

.saveBtn {

}

.deleteBtn {
    background: darkred;
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    padding: 14px 35px;
}

/* Footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.h4-contact {
    font-family: Monaco, monospace;
    color: #E85A4F;
}

#logoheader {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}

.readMoreBtn {
    color: #e98074;
!important;
    border-color: #e98074;
!important;
}

a.dogLinkBtn {
    font-family: monospace, Monaco;
    font-size: 20px;
    color: black;
    width: 200px;
    margin-top: 8px;
    background-color: #e9ecef;
    border-color: #e9ecef;
    transition: box-shadow .3s;

}

a.dogLinkBtn:hover {
    color: black;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #e9ecef;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 1);
}

a.dogLinkBtn:focus {
    color: black;
    text-decoration: none;
    background-color: #e9ecef !important;
    border-color: #e9ecef; !important;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 1);
}

a.dogLinkBtn:active {
    background-color: #e98074;
}

.profileTitle {
    font-family: Monaco, monospace;
    color: #E85A4F;
}

.editDogButton {
    margin-bottom: 50px;
    white-space: nowrap;
    font-size: 30px !important;
    background-color: transparent !important;
    color: black !important;
}

.editNewsButton {
    white-space: nowrap;
    font-size: 20px !important;
    background-color: transparent !important;
    color: black !important;
}

.editableBox {
    position: relative;
}

.editIcon {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}

.submitOrCancelRow {
    position: absolute;
    right: 0;
    bottom: -50px;
    cursor: pointer
}

.newLineLabel {
    display: block;
}

.required::after {
    content: ' *';
    color: red;
}

.alert {
    color: red;
}


.about .block h2 {
    padding-top: 35px;
    margin: 0;
}

.about .block p {
    padding-top: 20px;
    line-height: 28px;
}

.about .about-img {
    overflow: hidden;
}

.about .about-img:hover img {
    -webkit-transform: scale3D(1.1, 1.1, 1);
    transform: scale3D(1.1, 1.1, 1);
}

.about .about-img img {
    opacity: .6;
    transition: all 0.5s ease-out;
}

.about .section-title {
    margin-bottom: 0px;
}

.section-title {
    margin-bottom: 70px;
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.section-title p {
    font-style: normal;
    color: #666;
    font-size: 20px;
    font-family: "Volkhov", serif;
}

.broedtekst-frontpage {
    font-family: "Volkhov", serif;
    font-size: 20px;
    color: #666;
}

.section-subtitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.page-title {
    padding: 100px 0;
}

.page-title .block {
    text-align: center;
}

.page-title .block h1 {
    color: #fff;
    font-weight: 200;
    letter-spacing: 6px;
    margin-top: 0;
    text-transform: capitalize;
}

.page-title .block p {
    color: #fff;
}

.heading {
    padding-bottom: 60px;
    text-align: center;
}

.heading h2 {
    color: #000;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}

.heading p {
    font-size: 18px;
    line-height: 40px;
    color: #292929;
    font-weight: 300;
}

.page-wrapper {
    padding: 70px 0;
}

.overly, .page-title, .slider {
    position: relative;
}

.overly:before, .page-title:before, .slider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #3e3c42;
    opacity: 0.8;
}


.slider {
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0%;
    padding: 250px 0 280px 0;
    position: relative;
}

.slider .block {
    color: #E3E3E4;
    text-align: center;
}

.slider .block h1 {
    font-weight: 100;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 10px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.slider .block p {
    margin-bottom: 30px;
    color: #b9b9b9;
    font-size: 22px;
    line-height: 27px;
    font-weight: 300;
}

.btn-main {
    background: #655E7A;
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    border-radius: 0;
    transition: all 0.2s ease;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
.btn-main:hover {
    background: #353240;
    color: #fff;
}

.nyhetTitel {
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.character-counter, .character-counter-text {
    display: none;
}

span.character-counter-text, span.character-counter-title, .antalTeckenKvarText {
    margin-top: 5px;
    color: #747474;
    font-size: small;
    display: inline-block;
}

.customCard {
    border:3px solid rgba(0,0,0,.125) !important;
}

.hello {
    opacity: 1 !important;
}
.full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
}
.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: 1s ease;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
    object-fit: cover;
}
.byebye {
    opacity: 0;
}
.byebye:hover {
    transform: scale(0.2) !important;
}
.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
}
.gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}
.gallery img:hover {
    box-shadow: 0 0 32px #333;
}
.gallery .content {
    padding: 4px;
}
.gallery .gallery-item:not(.full) {
    transition: transform 300ms ease;
    /*transition: all 0.5s ease;*/
    cursor: pointer;
}

.gallery .gallery-item:not(.full):hover {
    transform: scale(1.025);
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

.dropzone.dz-started .dz-message {
    opacity: 1; /* Don't let it disappear TODO TOLA WHY*/
}

.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(5px) grayscale(90%);
}

.modal-close .container-fluid, .modal-close  .container {
    -webkit-filter: blur(0px) grayscale(100%);
}

.uploadPicturesDiv {
    border: 5px solid; !important;
    border-color: #918e86;
    width: 100%; !important;
    height: 400px; !important;
    border-radius: 8px;
}

.uploadPicturesMessage {
    font-size: 90px; !important;
    color: #918e86;
}

/* GALLERY SLIDER NAVIGATION START */
.indicator-b {
    background-color: #e98074;
    opacity: 1;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin: 4px 2px;
    border-radius: 100%;

}
.indicator-b:active {
    border: none;
}
.indicator-b-inner {
    background-color: #e98074;
    opacity: 0.66;
}
.indicator-b-outer {
    background-color: #e98074;
    opacity: 0.33;
}
.indicator-b-hidden {
    background-color: #e98074;
    opacity: 0;
}
.indicator-b-l {
    margin-right: 20px;
}
.indicator-b-r {
    margin-left: 20px;
}
/* GALLERY SLIDER DOTS END */
/* GALLERY ARROW START */
.gallery-arrow {
    background-color: #e98074;
    opacity: 1;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    z-index: 1;
    border-radius: 100%;
    top: 50%;
    cursor: pointer;
}
.gallery-arrow:hover {
    transform: scale(1.125);
}
.gallery-close {
    background-color: #e98074;
    opacity: 1;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 1;
    border-radius: 100%;
    top: 3%;
    right: 2%;
    cursor: pointer;
}
/* GALLERY ARROW END */