body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    border-top-color: black;
    font-family: monospace, Monaco;
    margin-bottom: 4%;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 24px 16px;
    font-size: 22px;
    text-decoration: none;
}

/* Menu item hover */
.topnav a:hover, a:hover, .subnav:hover .subnavbtn {
    background-color: #ddd;
    color: black;
}

/* Active menu item */
.topnav a.active {
    background-color: #e98074;
    color: white;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: black;
    padding: 24px 16px;
    background-color: inherit;
    font-family: inherit;
    text-align: center;
}

/* Add a background color to navigation links on hover */
a:hover, .subnav:hover .subnavbtn {
    background-color: #ddd;
    color: black;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #ddd;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    text-decoration: none;
}

/* Add a background color on hover */
.subnav-content a:hover {
    background-color: #e98074;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.h4-contact {
    font-family: Monaco, monospace;
    color: #E85A4F;
}

#logoheader {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

a.dogLinkBtn {
    font-family: monospace, Monaco;
    font-size: 20px;
    color: black;
    width: 200px;
    margin-top: 8px;
    background-color: #EAE7DC;
    border-color: #EAE7DC;
    transition: box-shadow .3s;

}

a.dogLinkBtn:hover, a.dogLinkBtn:focus {
    color: black;
    text-decoration: none;
    background-color: #EAE7DC;
    border-color: #EAE7DC;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 1);

}
.profileTitle {
    font-family: Monaco, monospace;
    color: #E85A4F;
}

.dogButton {
    margin-bottom: 50px;
    white-space: nowrap;
    font-size: 30px !important;
    background-color: transparent !important;
    color: black !important;
}

.editableBox {
    position: relative;
}

.editIcon {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}

.submitOrCancelRow {
    position: absolute;
    right: 0;
    bottom: -50px;
    cursor: pointer
}

.newLineLabel {
    display: block;
}

.required::after {
    content: ' *';
    color: red;
}
